<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js?ver=3.2.1'></script>
	<script type='text/javascript' src='/_library/js/modernizr-1.7.min.js?ver=3.2.1'></script>
    <script type='text/javascript' src='/_library/js/sidebar-toggle.js'></script>
	<link rel='stylesheet' type='text/css' media='print' href='/_library/css/print.css' />
	<link rel='stylesheet' href='/_library/css/reset.css'>
	<link rel='stylesheet' href='/_library/css/grid.css'>
	<link rel='stylesheet' href='/_library/css/typography.css'>
	<link rel='stylesheet' href='/style.css'>
	<link rel='stylesheet' href='/_library/css/prettyPhoto.css'>
	<!-- CSS for navigation based on the type of navigation being used (default: nav.css | optional: nav-mega-menu.css) -->
	<link rel='stylesheet' href='/_library/css/nav.css'>
	<link rel='apple-touch-icon' href='/apple-touch-icon.png'>
    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel="stylesheet" media="screen and (max-width: 760px)" href="/_library/css/responsive.css">
