<div id="sidebar-nav-expand" class="container"><span>View full page navigation &raquo;</span></div>
<nav id="sidebar-nav" class="span-6" role="navigation">
  <div class="shadow"></div>
  <ul class="site-nav" >
    <li class="menu-item" id="link-1"><a href="/">Sidebar Link 1</a></li>
    <li class="menu-item" id="link-2"><a href="#">Sidebar Link 2</a></li>
    <li class="menu-item" id="link-3"><a href="#">Sidebar Link 3</a>
    <ul class='children'>
      <li class="page_item"><a href="oh">Nested 1st Level</a>
        <ul class='children'>
          <li class="page_item"><a href="my">Nested 2nd Level</a></li>
        </ul>
      </li>
    </ul>
    </li>
    <li class="menu-item" id="link-4"><a href="#">Sidebar Link 4</a>
    <ul class='children'>
      <li class="page_item"><a href="oh">Nested 1st Level</a>
        <ul class='children'>
          <li class="page_item"><a href="my">Nested 2nd Level</a></li>
        </ul>
      </li>
    </ul>
    </li>    
    <li class="menu-item" id="link-5"><a href="#">Sidebar Link 5</a></li>
    <li class="menu-item" id="link-6"><a href="#">Sidebar Link 6</a></li>
    <li class="menu-item" id="link-7"><a href="#">Sidebar Link 7</a></li>
    <li class="menu-item" id="link-8"><a href="#">Sidebar Link 8</a></li>
    <li class="menu-item" id="link-9"><a href="#">Sidebar Link 9</a></li>
  </ul>
</nav>
