<!--[if lt IE 7 ]>
<script src="library/js/dd_belatedpng.js"></script>
<script> DD_belatedPNG.fix('img, .png_bg'); </script>
<![endif]-->

<script type='text/javascript' src='/_library/js/jquery.cycle.min.js?ver=3.2.1'></script>
<script type='text/javascript' src='/_library/js/autoclear.js?ver=3.2.1'></script>
<script type='text/javascript' src='/_library/js/jquery.hoverIntent.minified.js?ver=3.2.1'></script>
<script type='text/javascript' src='/_library/js/nav-institutional.js?ver=3.2.1'></script>
<script type='text/javascript' src='/_library/js/jquery.prettyPhoto.js?ver=3.2.1'></script>
<script type='text/javascript' src='/_library/js/script.js?ver=3.2.1'></script>

<!-- CSS for navigation based on the type of navigation being used (default: nav.js | optional: nav-mega-menu.js) -->
<script type='text/javascript' src='/_library/js/nav.js?ver=3.2.1'></script>

<script type='text/javascript' src='/_library/js/stacker.js?ver=3.2.1'></script>
<script type='text/javascript' src='/_library/js/slider.js?ver=3.2.1'></script>
<script type="text/javascript">
<script>
/*if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
  var viewportmeta = document.querySelector('meta[name="viewport"]');
  if (viewportmeta) {
    viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
    document.body.addEventListener('gesturestart', function () {
      viewportmeta.content = 'width=device-width, minimum-scale=0.25, maximum-scale=1.6';
     }, false);
   }
}*/
</script>
